* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *colours */
:root {
    --light-red: hsl(0, 100%, 67%);
    --organgey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
    --myFont: "HankenGrotesk-VariableFont_wght";
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

@font-face {
    font-family: "HankenGrotesk-VariableFont_wght";
    src: url("/assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

/* *contains main */
body {
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    font-family: var(--myFont);
    letter-spacing: 0.025rem;
}

/* *contains both sections */
main {
    display: flex;
    flex-direction: column;
}

/* *purple background */
section.result-section {
    background-image: linear-gradient(
        var(--light-slate-blue),
        var(--light-royal-blue)
    );
    border-radius: 0 0 1.25rem 1.25rem;
    padding: 1.1rem 0 1.8rem;
}

/* *text container in purple background */
div.result-text {
    text-align: center;
    margin: 0 auto;
    width: 13.125rem;
}

/* *"Your result" text */
h3.top-text {
    color: hsla(222, 100%, 96%, 0.805);
    font-size: clamp(0.7rem, 3.5vw, 0.95rem);
    font-weight: 500;
    margin-bottom: 0.9375rem;
}

/* *circle around "76 of 100" */
.results-circle {
    position: relative;
    background-image: linear-gradient(
        rgba(78, 33, 202, 0.777),
        rgba(78, 33, 202, 0)
    );
    border-radius: 50%;
    width: clamp(5.625rem, 28.5vw, 8.1rem);
    height: clamp(5.625rem, 28.5vw, 8.1rem);
    margin: 0 auto 0.9375rem;
}

/* *both span elements in the heading */
h1#heading span {
    position: absolute;
}

/* 76 */
.avg-score {
    top: clamp(1rem, 15%, 1.25rem);
    left: 0;
    right: 0;
    font-size: clamp(2.125rem, 10.5vw, 3.4375rem);
    color: white;
    font-weight: 700;
}

.of-100-text {
    top: 67%;
    left: 4vw;
    right: 4vw;
    font-size: clamp(0.625rem, 2.75vw, 0.75rem);
    font-weight: 500;
    color: hsla(241, 100%, 89%, 0.445);
}

.great-text {
    font-weight: 500;
    color: white;
    font-size: 1.05rem;
    margin-bottom: 0.5rem;
}

/** "You scored higher than... paragraph" */
.statistic {
    color: hsla(241, 100%, 89%, 0.936);
    font-size: 0.7rem;
    font-weight: 400;
}
