* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *colors */
:root {
    --light-red: hsl(0, 100%, 67%);
    --organgey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
    --myFont: "HankenGrotesk-VariableFont_wght";
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

@font-face {
    font-family: "HankenGrotesk-VariableFont_wght";
    src: url("/assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

/* *contains main */
body {
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    font-family: var(--myFont);
}

/* *contains both sections */
main {
    display: flex;
    flex-direction: column;
}

/* *purple background */
section.result-section {
    background-image: linear-gradient(
        var(--light-slate-blue),
        var(--light-royal-blue)
    );
    border-radius: 0 0 1.25rem 1.25rem;
    padding: 15px 20px 25px;
    /* todo: add clamp */
}

/* *text container in purple background */
div.result-text {
    text-align: center;
    margin: 0 auto;
    width: 13.125rem;
}

/* *"Your result" text */
h3.top-text {
    color: var(--light-lavender);
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 0.9375rem;
}

/* *circle around "76 of 100" */
.results-circle {
    position: relative;
    background-image: linear-gradient(
        rgba(78, 33, 202, 0.777),
        rgba(78, 33, 202, 0)
    );
    border-radius: 50%;
    width: 5.625rem;
    height: 5.625rem;
    margin: 0 auto 0.9375rem;
}

h1#heading span {
    position: absolute;
}

.score {
    top: 0.875rem;
    left: 1.625rem;
    font-size: 2.125rem;
    color: white;
    font-weight: 700;
}

.of-100-text {
    font-size: 0.625rem;
    font-weight: 500;
    top: 3.5625rem;
    left: 1.9688rem;
    color: hsla(241, 100%, 89%, 0.497);
}

.great-text {
    font-weight: 500;
    color: white;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

.statistic {
    color: hsla(241, 100%, 89%, 0.69);
    font-size: 0.75rem;
    font-weight: 500;
}
